<h1>tweenion - tweet your opinion for <%= @event.title %></h1>
<h4>alpha</h4>
<table>
  <tr>
    <th>Activity</th>
    <th>Tag</th>
    <th>Neutral</th>
    <th>Positive</th>
    <th>Negative</th>
    <th>Popularity/Satisfaction</th>
  </tr>

<% @event.activities.each do |activity| %>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%=h activity.title %></td>
    <td>#<%=h activity.tag %></td>
    <td><%=h activity.neutral %></td>
    <td><%=h activity.positive %></td>
    <td><%=h activity.negative %></td>
    <td><div class="<%= (activity.satisfaction == 1 ? "green" : (activity.satisfaction == -1 ? "red" : "yellow")) %>" style="width: <%= activity.popularity %>px;">&nbsp;</div></td>
  </tr>
<% end %>
</table>
